.img{
    position: relative;
    top: -150px;
    bottom: 0;
    right: 500px;
    left: -400px;
}


.navbar{
    padding: 10px;
}

.jumbotron{
    background-size: cover;
    background: linear-gradient(0deg,#00000088 30%, #ffffff44 100%);
    text-align: center;
    background-position: center;
    color:#f9fafb;
    width: 1330px;
    height: 250px;   
}

.carousel > h3,p{
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

}
.carousel > p{
    font-size: 20px;
}

.texto{
    position: relative;
    top: 80px;
    bottom: 0;
    right: 0;
    left: 20px;
}

.carousel slide{
    height: 600px;

}
.carousel img{
    position: relative;
}

.container{
    overflow: hidden;
    padding: 100px;
   
}
#img-container{
    background-image: url("/Imagenes/img3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#container2{
    color: gray;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

#container2 img{
    border: 1px solid rgb(168, 11, 240);
     width: 300px;
     height: 300px;
     margin: auto;
     border-radius: 50%;
    box-shadow: gray;
        
}

#container3{
    position: relative;
    background-image: url("/Imagenes/img3.jpg");
    
    background-position: center;
    background-size: cover;
}

#imgCarousel{    
    width: 100%;
}

.carousel-inner > .item > img {
    width: 320px;
    height:180px;
  }

#galeria img{
    width: 100%;
    height: 100%;

}

#galeria-fila row {
    border-left: 1px solid;
    border-right: 1px solid;
    scrollbar-gutter: 5px;
}

.footer{
    border-top: 3px solid blueviolet;
}

#container-footer{
    background-color: rgba(244, 247, 247, 0.854);
}

.top{
    background-image: url('imagenes/jumbotron_1.jpg');
    margin: 0%;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.middle{
    background: linear-gradient(#E5CB9F, white);
   /* background-color: #E5CB9F;*/
    width: 100%;
}

.bottom{
    background: linear-gradient(#99C4C8, white);
   /* background-color: #99C4C8;*/
    width: 100%;
}

.bototo{
    background: linear-gradient(#EEE4AB, white);
    /*background-color: #EEE4AB;*/
    width: 100%;
}

.c1{
    background: linear-gradient(70deg,#E6D5B8, #E45826);
    max-width: 30%;
    max-height: fit-content;
    color: #1B1A17;
    position: inherit;
    border-radius: 20px 80px;
   margin: auto;
   text-align: center;
}

.f1{
    height: 30%;
    max-width:20%;
}

.ss{
    width: 5%;
    border-style:none;
    border-color: #E3CAA5;
    border-top-style: dotted;
    border-width: 5px;
}

.c2{
    text-align: center;
}

.food{
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
    margin-top: 0%;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
    border-radius: 25%;
}


.td{
    width: 30%;
    height: 30%;
}


