
.carousel slide{
    height: 75%;

}
.carousel img{
    position: relative;
}

.container{
    overflow: hidden;
    padding: 100px;
}

#container2{
    color: gray;
    padding: 40px;
    display: flex;
    flex-direction: row;
}

#container2 img{
     width: 200px;
     margin: auto;
     border-radius: 50%;

        
}

#imgCarousel{    
    width: 100%;
}

.carousel-inner > .item > img {
    width: 320px;
    height:180px;
  }