.top{
    background-image: url('imagenes/jumbotron_1.jpg');
    margin: 0%;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.middle{
    background: linear-gradient(#E5CB9F, white);
   /* background-color: #E5CB9F;*/
    width: 100%;
}

.bottom{
    background: linear-gradient(#99C4C8, white);
   /* background-color: #99C4C8;*/
    width: 100%;
}




.bototo{
    background: linear-gradient(#EEE4AB, white);
    /*background-color: #EEE4AB;*/
    width: 100%;
}

.c1{
    background: linear-gradient(70deg,#E6D5B8, #E45826);
    max-width: 30%;
    max-height: 500px;
    color: #1B1A17;
    position: relative;
    border-radius: 20px 80px;
    margin: auto;
    text-align: center;
    padding: 50px;
}

.f1{
    height: 30%;
    max-width:20%;
}

.ss{

    width: 5%;
    border-style:none;
    border-color: #E3CAA5;
    border-top-style: dotted;
    border-width: 5px;
}

.c2{
    text-align: center;
}

.food{
    width: 40%;
    height: 40%;
    margin-bottom: 10px;
    margin-top: 0%;
    display: block;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
    border-radius: 25%;
}


.td{
    width: 30%;
    height: 30%;
}


.wrap{
	width: 1100px;
	margin: 50px auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 800;
	perspective: 800;
}

.tarjeta{
	width: 300px;
	height: 350px;
	background: #F29720;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 100%;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	text-align: center;
	color: #fff;
	font-family: "open sans";
  background: #F29720;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image:url('../imagenes/food.png');
	background-size: cover;
}

.card2{
	background-image: url('../imagenes/food0.png');
	background-size: cover;
}

.card3{
	background-image: url('../imagenes/food2.png');
	background-size: cover;
}

/* Footer */

.pie-pagina{
    width: 100%;
    background-color: #f9fafb4b;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}

.pie-pagina .grupo-1 .box h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #000;
    margin-bottom: 10px; 
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #000;
    margin-right: 10px;
    background-color: #99C4C8;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social iframe{
    margin-top: 5px;
    margin-left: 10px;
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgba(249, 171, 2, 0.886);
}

.pie-pagina .grupo-2{
    background-color: #06468746;
    padding: 15px 10px;
    text-align: center;
    color: #000;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}
