body{
    background-image: url("imagenes/bg2.webp"); 
} 


.navbar{
    padding-right: 1%;
    padding-left: 1%;
}

.jumbotron{
    
    background-size: cover;
    text-align: center;
    color:#f9fafb;
    size: 3rem;
    height: 20rem;

}

#jumbotron{
    max-width: inherit;
    max-height: fit-content;
}


#title-jumbotron,#text-jumbotron{
    text-align: justify;
}

#title-jumbotron{
    padding: 1rem;
    font-family:sans-serif
     
}

#text-jumbotron{
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
}

.hr{
    width: 3%;
     
}

.carousel{
    width: 640px;
    height: 360px;
}